.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.302);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.disapear {
  display: none;
}
.editor {
  background-color: white;
  height: 50vh;
  width: 100%;

  border-radius: 8px;
  margin: 20px auto;
  overflow-y: scroll;
}
.form {
  position: absolute;
  top: 15vh;
  left: 25vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  font-size: larger;
}
